*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}

.m8 {
  margin: 8px;
}

.main {
  position: relative;
  margin-top: 10px;
}
